.list {
  position: relative;
  margin: 0 var(--gap) 0 0;
  padding: 0;
  list-style-type: none;
}

.item {
  display: inline-block;
  margin-right: calc(var(--gap) / 2);
}

.item:last-child {
  margin-right: 0;
}

.link {
  color: var(--text-color);
  text-decoration-color: var(--bon-jour-35);
}

@media (hover: hover) {
  .link:hover {
    color: var(--link-color);
  }
}

@media screen and (max-width: 768px) {
  .item {
    margin-right: calc(var(--gap) / 3);
  }
}

@media screen and (max-width: 576px) {
  .item:not(:last-child) {
    margin-bottom: calc(var(--gap) / 3);
  }
}
