.list {
  position: relative;
  margin: 0 1.5rem 0 0;
  padding: 0;
  list-style-type: none;
}

.item {
  display: inline-block;
  margin-right: 0.75rem;
}

.item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .item {
    margin-right: 0.55rem;
  }
}

@media screen and (max-width: 576px) {
  .item:not(:last-child) {
    margin-bottom: 0.55rem;
  }
}
