.header {
  padding: 1.35rem 0;
  background-color: var(--green);
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  margin: 0 0 0.35rem;
  font-size: 1.25rem;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.box {
  margin-bottom: 0.5rem;
}

@media (hover: hover) {
  .link:hover {
    color: var(--link-color);
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0 0 0.5rem;
    font-size: 1.15rem;
  }
}
