:root {
  --min-width: 320px;
  --max-width: 1200px;
  --blog-width: 800px;
  --offset: 30px;

  --gap: 1.5rem;
  --gap-small: 0.5rem;
  --gap-large: 2.5rem;
  --image-vertical-gap: calc(var(--gap-large) / 2);
  --image-indent: var(--gap);

  --base-font-family: "Inter", Helvetica, Arial, sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.75;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  --transition: 0.3s;

  --shark: #252931;
  --carnation-pink: #ffaaca;
  --carnation-pink-35: rgba(255, 170, 202, 0.35);
  --bon-jour-35: rgba(232, 229, 229, 0.35);
  --bon-jour: #e8e5e5;
  --gray-chateau: #9ca3af;

  --bg: var(--shark);
  --logo-text-color: var(--bon-jour);
  --text-color: var(--bon-jour);
  --subtitle-color: var(--gray-chateau);
  --link-color: var(--carnation-pink);
  --link-decoration-color: var(--carnation-pink-35);
  --link-decoration-white-color: var(--carnation-pink-35);
  --border-logo-color: var(--bon-jour);
  --border-logo-color-hover: var(--carnation-pink);
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  :root {
    --offset: 20px;

    --base-font-size: 16px;

    --image-indent: calc(var(--gap) / 2);
  }
}

@media screen and (max-width: 576px) {
  :root {
    --image-vertical-gap: calc(var(--gap-large) / 3);
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  min-width: var(--min-width);
  color: var(--text-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  background-color: var(--bg);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--gap);
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: var(--base-line-height);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

blockquote,
mark,
p,
pre {
  margin: 0 0 var(--gap);
}

a {
  color: var(--link-color);
  transition: color var(--transition);
  text-decoration-color: var(--link-decoration-color);
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
