:root {
  --min-width: 320px;
  --max-width: 1200px;
  --blog-width: 800px;
  --offset: 30px;

  --base-font-family: "JetBrains Mono", sans-serif;
  --base-font-size: 18px;

  --transition: 0.3s;

  --shark: #252931;
  --carnation-pink: #ffaaca;
  --bon-jour: #e8e5e5;
  --gray-chateau: #9ca3af;

  --bg: var(--shark);
  --logo-text-color: var(--bon-jour);
  --text-color: var(--bon-jour);
  --subtitle-color: var(--gray-chateau);
  --link-color: var(--carnation-pink);
  --border-logo-color: var(--bon-jour);
  --border-logo-color-hover: var(--carnation-pink);
}

@media screen and (max-width: 768px) {
  :root {
    --offset: 20px;

    --base-font-size: 16px;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  min-width: var(--min-width);
  color: var(--text-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  background-color: var(--bg);
}

a {
  color: var(--link-color);
  transition: color var(--transition);
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
