.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 576px) {
  .footer ul {
    display: flex;
    flex-direction: column;
  }
}
